@{
    //inline code
    ViewBag.Title = "About";
    ViewBag.Mensaje4 = "Otro mensaje";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.Mensaje2</h4>
<h5>@ViewBag.Mensaje4</h5>

<p>Use this area to provide additional information.</p>
